/*@font-face {*/
    /*font-family: 'iconfont';*/
    /*src: url('//at.alicdn.com/t/font_1466006943_0368855.eot'); !* IE9*!*/
    /*src: url('//at.alicdn.com/t/font_1466006943_0368855.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('//at.alicdn.com/t/font_1466006943_0368855.woff') format('woff'), !* chrome、firefox *!*/
    /*url('//at.alicdn.com/t/font_1466006943_0368855.ttf') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*! url('//at.alicdn.com/t/font_1466006943_0368855.svg#iconfont') format('svg'); !* iOS 4.1- *!*/
/*}*/

/*.iconfont {*/
    /*font-family: "iconfont" !important;*/
    /*font-size: 16px;*/
    /*font-style: normal;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-webkit-text-stroke-width: 0.2px;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(245,245,245);
    font-family: "PingFang SC","\5FAE\8F6F\96C5\9ED1","Microsoft Yahei",Arial,Helvetica,sans-serif,"\5B8B\4F53";
    font-size: 14px;
    /*min-width: 1440px;*/
}

.head-row {
    background: #fafafc;
    height: 50px;
    width: 100%;
}

.head-row ul {
    /*foloat: left;*/
    list-style: none;
}

.head-row ul li {
    foloat: left;
    display: inline;
    /*list-style-type: none;*/
}

.a-type {
    color: #666;
}

.a-type:hover {
    color: #00c3f5;
    outline: 0;
    text-decoration: none;
}

.h2-title {
    float: left;
    font-size: 24px;
    color: #333;
}

.col-style {
    height: 350px;
    transition:all .2s linear 0s;
    background-color: white;
    /*border: 1px solid #EFEFEF;*/
    margin-left: 5px;
    margin-top: 10px;
    padding: 0px;
    /*z-index: 1;*/
    text-align: center;
    /*position: relative;*/
    cursor:pointer;
}

.col-style:hover {
    /*border: 1px solid #bbbec4;*/
    box-shadow:0 15px 30px rgba(0,0,0,.1);
    top: -2px;
    z-index: 2;
}

.product-img {
    width: 240px;
    height: 240px;
}

.toTop {
    /*font-family: iconfont;*/
    position: fixed;
    right: 38px;
    bottom: 2px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-radius: 50px;
    color: #858585;
    width: 50px;
    font-size: 36px;
    cursor: pointer;
    background-color: #fff;
}

.toTop:hover, .toTop:focus {
    color: rgb(234, 42, 96);
}