/*@font-face {*/
    /*font-family: 'iconfont';*/
    /*src: url('//at.alicdn.com/t/font_1466006943_0368855.eot'); !* IE9*!*/
    /*src: url('//at.alicdn.com/t/font_1466006943_0368855.eot?#iefix') format('embedded-opentype'), !* IE6-IE8 *!*/
    /*url('//at.alicdn.com/t/font_1466006943_0368855.woff') format('woff'), !* chrome、firefox *!*/
    /*url('//at.alicdn.com/t/font_1466006943_0368855.ttf') format('truetype'), !* chrome、firefox、opera、Safari, Android, iOS 4.2+*! url('//at.alicdn.com/t/font_1466006943_0368855.svg#iconfont') format('svg'); !* iOS 4.1- *!*/
/*}*/

/*.iconfont {*/
    /*font-family: "iconfont" !important;*/
    /*font-size: 16px;*/
    /*font-style: normal;*/
    /*-webkit-font-smoothing: antialiased;*/
    /*-webkit-text-stroke-width: 0.2px;*/
    /*-moz-osx-font-smoothing: grayscale;*/
/*}*/

body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(245,245,245);
    font-family: "PingFang SC","\5FAE\8F6F\96C5\9ED1","Microsoft Yahei",Arial,Helvetica,sans-serif,"\5B8B\4F53";
    font-size: 14px;
    min-width: 1440px;
}

.top-div {
    min-width: 1440px;
    max-width: 1440px;
}

.head-top {
    height: 30px;
    line-height: 30px;
    background-color: #f3f3f3;
    color: #666;
    font-size: 12px;
    font-weight: 900;
    min-width: 1440px;
}

.head-top a {
    color: #666;
}

.head-top a:hover {
    color: #ff4958;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
}

.head-row {
    background: #fafafc;
    height: 50px;
    text-align: center;
    min-width: 1440px;
}

.head-row ul {
    /*foloat: left;*/
    list-style: none;
}

.head-row ul li {
    foloat: left;
    display: inline;
}

.search-row {
    height: 122px;
    background-color: white;
    padding: 32px 0;
    min-width: 1440px;
}

.a-type {
    /*color: #666;*/
    color: white;
}

.a-type:hover {
    color: white;
    outline: 0;
    text-decoration: none;
    background-color: #ff4958 !important;
}

.h2-title {
    float: left;
    font-size: 24px;
    color: #333;
}

.h4-title {
    float: left;
    font-size: 18px;
    color: #333;
}

.col-style {
    height: 380px;
    transition:all .2s linear 0s;
    background-color: white;
    /*border: 1px solid #EFEFEF;*/
    margin-left: 5px;
    margin-top: 10px;
    padding: 0px;
    /*z-index: 1;*/
    text-align: center;
    /*position: relative;*/
    cursor:pointer;
}

.col-style:hover {
    /*border: 1px solid #bbbec4;*/
    box-shadow:0 15px 30px rgba(0,0,0,.1);
    top: -2px;
    z-index: 2;
}

.product-img {
    width: 240px;
    height: 240px;
}

.toTop {
    /*font-family: iconfont;*/
    position: fixed;
    right: 38px;
    bottom: 2px;
    line-height: 50px;
    text-align: center;
    border: 1px solid #CCCCCC;
    border-radius: 50px;
    color: #858585;
    width: 50px;
    font-size: 36px;
    cursor: pointer;
    background-color: #fff;
}

.toTop:hover, .toTop:focus {
    color: rgb(234, 42, 96);
}

.header-search-input {
    height: 30px;
    line-height: 30px;
    border: 1px solid #ff4958;
    width: 462px;
    text-indent: 10px;
    font-size: 12px;
}

.header-search-btn {
    position: absolute;
    right: 0;
    top: 0;
    width: 90px;
    height: 30px;
    line-height: 30px;
    background: url(http://s.pc.qq.com/guanjia/gjalpha/file/3d/52/3d52fc736b9fdddb3230333e36d1eb4b.png) center no-repeat #ff4958;
    color: #fff;
    cursor: pointer;
    border: 0;
    margin-right: 13px;
}

.header-feature {
    float: left;
    margin-left: 30px;
    width: 110px;
    color: #999;
    line-height: 30px;
    font-size: 12px;
}

.header-feature .i1 {
    background-position: -103px 0;
}
.header-feature .i2 {
    background-position: -144px 0;
}
.header-feature .i3 {
    background-position: -185px 0;
}

.header-feature i {
    background: url(http://s.pc.qq.com/guanjia/gjalpha/file/e2/d9/e2d9b25d4a5bdeb45c54b29969c638b5.png);
    width: 30px;
    height: 30px;
    display: block;
    float: left;
    margin-right: 3px;
}

.search-key {
    font-size: 12px;
    color: #333;
    padding-top: 3px;
}

.search-key a {
    color: #333;
    cursor: pointer;
}

.active {
    border: 0px;
}

.active a {
    background-color: #ff4958 !important;
    color: white !important;
    border: 0px !important;
}

/*for mobile*/
body{
    -webkit-user-select:initial;
    background-color: #fff;
}

body>a{display: none;}

.demo-block .ui-header,
.demo-block .ui-footer{
    position: absolute;
}

.demo-block > .ui-list,.demo-block >.ui-form,.demo-block >.ui-tooltips{margin-bottom: 20px;}
.content h3{
    padding: 0 15px;
    line-height: 44px;
    font-size: 15px;
}
.border-list{
    background-color: #fff;
}
.border-list li{
    width: 100px;
    margin: 10px auto;
    -webkit-box-pack: center;
    text-align: center;
}

.ui-scroller li {margin-bottom:10px;}

.icon-lists li{
    float:left;
    height: 100px;
    width: 103px;
    text-align: center;

}
.icon-lists li i{
    font-size: 32px;
    line-height: 44px;
}
.icon-lists .ui-icon,.icon-lists [class^="ui-icon-"]{
    margin: 10px 0;
    color: #000;
}

.ui-col{
    padding: 5px;
    /*background: #777;*/
    text-align: center;
    box-sizing: border-box;
    border: 0px solid #ddd;
}