body {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: rgb(245,245,245);
    font-family: "PingFang SC","\5FAE\8F6F\96C5\9ED1","Microsoft Yahei",Arial,Helvetica,sans-serif,"\5B8B\4F53";
    font-size: 14px;
    /*min-width: 1440px;*/
}

.container {

}

.head-row {
    background: #fafafc;
    height: 50px;
    width: 100%;
}

.head-row ul {
    /*foloat: left;*/
    list-style: none;
}

.head-row ul li {
    foloat: left;
    display: inline;
    /*list-style-type: none;*/
}

.a-type {
    color: #666;
}

.a-type:hover {
    color: #00c3f5;
    outline: 0;
    text-decoration: none;
}

.h2-title {
    float: left;
    font-size: 24px;
    color: #333;
}

.col-style {
    height: 350px;
    transition:all .2s linear 0s;
    background-color: white;
    /*border: 1px solid #EFEFEF;*/
    margin-left: 5px;
    margin-top: 10px;
    padding: 0px;
    /*z-index: 1;*/
    text-align: center;
    /*position: relative;*/
    cursor:pointer;
}

.col-style:hover {
    /*border: 1px solid #bbbec4;*/
    box-shadow:0 15px 30px rgba(0,0,0,.1);
    top: -2px;
    z-index: 2;
}

.product-img {
    width: 240px;
    height: 240px;
}